<!--ke thua tu base.html-->
{% extends 'layout/base.html' %}

{% block title %} Trang Chủ {% endblock %}

<!--ghi de vao base trong block content -->
{% block content %}


<section class="slider_section ">
    <div class="carousel slide banner-main" data-ride="carousel" id="main_slider">

        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img alt="First slide" class="first-slide col-12" src="static/images/banner3.jpg">
                <div class="container">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CHOOSE  -->
<div class="whyschose">
    <div class="container">

        <div class="row">
            <div class="col-md-7 offset-md-3">
                <div class="title">
                    <h2> welcome to <strong class="black">clinic </strong></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="choose_bg">
    <div class="container">
        <div class="white_bg">
            <div class="row">
                <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for_box">
                        <i><img src="static/images/banner-callus.jpg"/></i>
                        <h3>Phẩu Thuật Tổng Quát</h3>
                        <p>Đội ngũ phẫu thuật tổng quát bao gồm đầy đủ các phẫu thuật cấp cứu và nội trú tự chọn và phẫu
                            thuật trong ngày</p>
                    </div>
                </dir>
                <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for_box">
                        <i><img src="static/images/banner-callus.jpg"/></i>
                        <h3>Chăm Sóc Đặc Biệt</h3>
                        <p>Bạn không cần hẹn trước để được điều trị tại trung tâm chăm sóc khẩn cấp của chúng tôi</p>
                    </div>
                </dir>
                <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for_box">
                        <i><img src="static/images/banner-callus.jpg"/></i>
                        <h3>Chăm Sóc Nhi Khoa</h3>
                        <p>Chúng tôi cung cấp một danh sách dài các dịch vụ nhi khoa để chăm sóc con bạn từ khi còn nhỏ
                            cho đến khi trưởng thành</p>
                    </div>
                </dir>
                <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for_box">
                        <i><img src="static/images/banner-callus.jpg"/></i>
                        <h3>Tiêm Chủng</h3>
                        <p>Dịch vụ này có thể cung cấp cho bạn nhiều loại vắc xin thông dụng, bao gồm cả những loại vắc
                            xin cần thiết trong hồ sơ tiêm chủng</p>
                    </div>
                </dir>
                <div class="col-md-12">
                    <a class="read-more">Tìm Hiểu Thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end CHOOSE -->


<!-- our product -->
<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2> thiết bị <strong class="black">của chúng tôi</strong></h2>
                    <span>Sở hữu trang thiết bị hiện đại mang đến cảm giác hài lòng cho khách hàng.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-bg">
    <div class="product-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="product-box">
                        <i><img src="static/images/Taykhoan.jpg"/></i>
                        <h3>Tay Khoan Nha Khoa</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="product-box">
                        <i><img src="static/images/Taykhoan.jpg"/></i>
                        <h3>Tay Khoan Nha Khoa</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="product-box">
                        <i><img src="static/images/Taykhoan.jpg"/></i>
                        <h3>Tay Khoan Nha Khoa</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="product-box">
                        <i><img src="static/images/maydonhiptim.jpg"/></i>
                        <h3>Máy Đo Nhịp Tim</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="product-box">
                        <i><img src="static/images/maydonhiptim.jpg"/></i>
                        <h3>Máy Đo Nhịp Tim</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="product-box">
                        <i><img src="static/images/maydonhiptim.jpg"/></i>
                        <h3>Máy Đo Nhịp Tim</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="product-box">
                        <i><img src="static/images/maydonhiptim.jpg"/></i>
                        <h3>Máy Đo Nhịp Tim</h3>
                        <span>...</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="product-box">
                        <i><img src="static/images/maydonhiptim.jpg"/></i>
                        <h3>Máy Đo Nhịp Tim</h3>
                        <span>...</span>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="Clients_bg_white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Ý Kiến Khách Hàng?</h3>
                    </div>
                </div>
            </div>
            <div class="carousel slide banner_Client" data-ride="carousel" id="client_slider">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#client_slider"></li>
                    <li data-slide-to="1" data-target="#client_slider"></li>
                    <li data-slide-to="2" data-target="#client_slider"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="carousel-caption text-bg">
                                <div class="img_bg">
                                    <i><img src="static/images/vantan.jpg"/><span>Văn Tân<br><strong class="date">10/01/2003</strong></span></i>

                                </div>

                                <p>Cảm ơn phòng mạch..<br>
                                    Tôi muốn khen ngợi đội ngũ bác sĩ và y tá tại phòng mạch. Sự am hiểu, tận tâm và
                                    kiến thức chuyên sâu của họ thực sự làm tôi cảm thấy an tâm và tin tưởng trong quá
                                    trình điều trị. Họ luôn sẵn sàng giải đáp mọi thắc mắc của tôi và tạo ra một môi
                                    trường chăm sóc y tế tốt nhất. </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!-- end our product -->
<!-- map -->
<div class="container-fluid padi">
    <div class="map">
        <img alt="img" src="static/images/mapimg.jpg"/>
    </div>
</div>

{% endblock %}