{% extends 'layout/base.html '%}

{% block body %}
{% if current_user.is_authenticated and current_user.type=='cashier' %}
<h1 class="text-danger"> CHI TIẾT HÓA ĐƠN CỦA BỆNH NHÂN</h1>


<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Tên thuốc</th>
            <th>Số lượng</th>
            <th>Giá tiền</th>
        </tr>
        </thead>
        <tbody>
        {% for p in receipt_details %}
        <tr>
            <td>{{ p[0]}}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>{{ "{:,.0f}".format(p[3]) }} VNĐ </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}